{% extends "layout.html" %}
{% block body %}


        <!-- Page Header-->
        <header class="masthead" style="background-image: url(' {{ url_for('static',filename = 'assets/img/about-bg.jpg') }} ')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>My name is Prashant, an undgrad student.
                        I love travelling and have visited many places in India.
                        This website is the result of the experienced, I gained while travelling.
                        My main goal is to showcase the natural beauty through blogging. 
                        Contact me if you have interesting stories to tell.
                        For more information, you can visit my <a href = "https://prashant812.github.io/" >website</a>.
                    </p>
                    </div>
                </div>
            </div>
        </main>
       
{% endblock %}